# Bytecode
__pycache__/
*.py[cod]
*.pyo
.Python

# Env
.venv/
venv/
.env
.env.local

# Django
*.log
local_settings.py
staticfiles/
media/
db.sqlite3

# Test / coverage
.coverage
htmlcov/
.pytest_cache/
*.cover

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
